<div>
  <p-orderList [value]="orderableCols" styleClass="orderlist" dragdrop="true">

    <ng-template pTemplate="header">
      <div class="col-header">
        <p-button icon="pi pi-angle-left" [text]="true" [rounded]="true"></p-button>
        <span class="pi pi-table"></span>
        <span>Reorder, show, or hide columns</span>
      </div>
      <div class="col-item" *ngFor="let col of frozenCols">
        <p-checkbox [(ngModel)]="col.isSelected" [binary]="true" [disabled]="!!col.isLocked"></p-checkbox>
        <div class="col-item-detail">
          <h5 class="p-mb-2">{{ col.header }}</h5>
        </div>
        <span class="pi pi-lock"></span>
      </div>
    </ng-template>

    <ng-template let-col pTemplate="item">    
      <div class="col-item">
        <p-checkbox [(ngModel)]="col.isSelected" [binary]="true" [disabled]="!!col.isLocked"></p-checkbox>
        <div class="col-item-detail">
          <h5 class="p-mb-2">{{ col.header }}</h5>
        </div>
        <span class="pi pi-ellipsis-v"></span>
        <span class="pi pi-ellipsis-v"></span>
      </div>
    </ng-template>
    
    <ng-template pTemplate="empty">There are no items to display</ng-template>
  </p-orderList>
  <p-button label="Save Changes" (onClick)="save()" class="orderlist-save"></p-button>
</div>